@import 'tailwindcss';

@font-face {
  font-family: FYFont, sans-serif;
  src: url('../font/字小魂扶摇手书.ttf') format('truetype');
}

@theme {
  --font-fy: 'FYFont', sans-serif;

  --color-primary: rgba(79, 70, 229, 0.8);
  --color-dark: rgba(31, 41, 55, 0.9);
}
